/* Productos.css */
.productos-page {
  display: flex;
}

.productos-page > .sidebar {
  width: 200px;      /* o el ancho que prefieras */
  flex-shrink: 0;
}

.productos-page > .productos-content {
  flex-grow: 1;
  padding: 1rem;
}
